<div class="top-bar">
  <div class="img--circle avatar" style="background-image: url('{{friendship.friend.avatarUrl}}')"></div>
  <div class="content">
    <div class="primary">
      <span class="name">{{friendship.friend.name}}</span>
      <span class="user-balance {{balanceStatus}}">{{friendship.formattedBalance}}</span>
    </div>
  </div>
  {{#if isBalanceNegative}}
    <button class="btn settle-transaction" {{action "settleTransaction"}}>Settle</button>
  {{/if}}
  <button class="btn btn--primary add-transaction" {{action "addTransaction"}}>Add</button>
  {{#if isCreatingTransaction}}
    {{transaction-create
      type="Bill"
      relatedObjectId=friendship.friendshipDataId
      relatedObjectType="Friendship"
      relatedUser=friendship.friend
      usersInvolved=usersInvolved
      closeAction="closeTransactionCreateAction"
    }}
  {{/if}}

  {{#if isSettlingTransaction}}
    {{transaction-create
      type="Payback"
      dollars=friendship.dollarsAbs
      cents=friendship.centsAbs
      memo="Settling up remaining balance"
      relatedObjectId=friendship.friendshipDataId
      relatedObjectType="Friendship"
      relatedUser=friendship.friend
      usersInvolved=usersInvolved
      closeAction="closeTransactionCreateAction"
    }}
  {{/if}}
</div>

<div class="content-container">
  {{transaction-list
    user=friendship.friend
    transactions=sortedUserTransactions
    transactionUpdated="updateBalance"
  }}

  <button class="btn settle-transaction" {{action 'wantsSettled'}}>
    click to see the settled transactions
  </button>

  {{# if wantsSettledTransactions}}
    {{settled-list
      user=friendship.friend
      transactions=userSettledTransactions
      transactionUpdated="updateBalance"
    }}
  {{/if}}
</div>
