<div class="top-bar">
  <div class="img--circle avatar" style="background-image: url('{{friendship.friend.avatarUrl}}')"></div>
  <div class="content">
    <div class="primary">
      <span class="name">{{friendship.friend.name}}</span>
      <span class="user-balance {{balanceStatus}}">{{displayBalance}}</span>
    </div>
    <button class="btn btn--primary add-transaction" {{action "addTransaction"}}>Add</button>
  </div>
  {{#if isCreatingTransaction}}
    {{transaction-create
      group=group
      user=friendship.friend
      closeAction="closeTransactionCreateAction"
    }}
  {{/if}}
</div>

<div class="content-container">
</div>
