<div class="transaction-paid">
  {{ember-selectize
    content=usersInvolved
    optionValuePath="content.id"
    optionLabelPath="content.name"
    selection=sender
    placeholder="Who paid?"
  }}
</div>
<div class="transaction-content">
  {{#unless isPayback}}
    {{currency-input
      amount=transaction.amount
    }}
  {{/unless}}
  {{textarea type="text" value=transaction.memo maxlength="140" placeholder="Memo..." rows="1"}}
  <button class="btn" {{action "transactionSave"}}>Save</button>
  <i class="fa fa-times close" {{action "close"}}></i>
</div>
