<div class="transaction-content">
  <div class="transaction-type">
    <span class="{{if isBorrow "active"}}" {{action "changeType" "Borrow"}}>Borrow</span>
    <span class="{{if isLend "active"}}" {{action "changeType" "Lend"}}>Lend</span>
  </div>
  <div class="currency-input-group">
    {{input type="number" class="input-dollar" value=dollars maxlength="5" placeholder="00"}}
    <span>.</span>
    {{input type="number" value=cents maxlength="2" placeholder="00"}}
  </div>
  {{textarea type="text" value=transaction.memo maxlength="140" placeholder="Memo..." rows="1"}}
  <button class="btn" {{action "transactionSave"}}>Save</button>
  <span class="close" {{action "close"}}>X</span>
</div>
