{{#if currentUserInGroup}}
  <div class="top-bar">
    <div class="content">
      <div class="primary">
        <span class="name">{{group.name}}</span>
      </div>
      <button class="btn btn--primary add-transaction" {{action "addTransaction"}}>Add</button>
    </div>
    {{#if isCreatingTransaction}}
      {{group-transaction-create
        group=group
        closeAction="closeTransactionCreateAction"
        successfullyCreated="groupTransactionCreated"
      }}
    {{/if}}
  </div>
  <div class="content-container">

    {{#each group.groupMembers as |member|}}
      {{group-member-card member=member transactions=transactionsForCurrentUser}}
    {{/each}}

    {{#if isGroupEmpty}}
      <div class="invite-user">
        <div class="invite-text">Your group looks empty</div>
        <div class="invite-text">Invite others with this link</div>
        <input class="input input--darker" value={{inviteUrl}} readonly="true" {{action "inviteClick"}}>
      </div>
    {{/if}}

    {{#each groupTransactions as |gt|}}
      {{group-transaction-card groupTransaction=gt}}
    {{/each}}
  </div>
{{else}}
  <div class="content-container center-align">
    <h1>{{group.name}}</h1>
    <button class="btn btn--primary text-center" type="button" {{action "joinGroup"}}>Join Group</button>
  </div>
{{/if}}
