<div class="transaction-card-content">
  <div class="primary-line">
    <span class="name">{{transaction.sender.name}}</span>
    <span class="type">paid</span>
    <span class="amount">{{transaction.formattedAmount}}</span>
  </div>

  <div class="memo">{{transaction.memo}}</div>

  <div class="sub-line">
    {{#if isCreatorCurrentUser}}
      <li><i class="fa fa-pencil" {{action "editTransaction"}}></i></li>
      <li><i class="fa fa-trash-o" {{action "deleteTransaction"}}></i></li>
    {{/if}}
    <li class="transaction-date text-uppercase">
      <span class="date-relative">{{moment-from-now transaction.createdAt interval=1000}}</span>
      <span class="date-specific">{{moment-format transaction.createdAt 'MMM Do, YYYY'}}</span>
    </li>
  </div>
</div>

{{#if isEditingTransaction}}
  {{transaction-edit
    transaction=transaction
    closeAction="closeTransactionEdit"
    transactionUpdated="transactionUpdated"
  }}
{{/if}}
