<div class="transaction-card-content">
  <div class="primary-line">
    <span class="name">{{transaction.creator.name}}</span>
    {{displayType}}
    <span class="name">{{transaction.relatedUser.name}}</span>
    {{transaction.formattedAmount}}
    {{#if transaction.memo}}for{{/if}}
    <span class="memo">{{transaction.memo}}</span>
  </div>

  <div class="sub-line">
    {{#if isCreatorCurrentUser}}
      <li><i class="fa fa-pencil" {{action "editTransaction"}}></i></li>
      <li><i class="fa fa-trash-o" {{action "deleteTransaction"}}></i></li>
    {{/if}}
    <li class="text-uppercase">{{moment-from-now transaction.createdAt interval=1000}}</li>
  </div>
</div>

{{#if isEditingTransaction}}
  {{transaction-edit
    transaction=transaction
    closeAction="closeTransactionEdit"
    transactionUpdated="transactionUpdated"
  }}
{{/if}}
