<div class="transaction-card-content">
  <div class="primary-line">
    <span>
      <b>{{transaction.creator.name}}</b>
    </span>
    <span>
      {{displayType}}
    </span>
    <span>
     <b>{{transaction.relatedUser.name}}</b>
    </span>
    <span>
    {{transaction.formattedAmount}}
    </span>
    {{#if transaction.memo}}
       for
    {{/if}}
    <span>
     <i>{{transaction.memo}}</i>
    </span>
  </div>

  <div class="sub-line">
    {{#if isCreatorCurrentUser}}
      <li><i class="fa fa-pencil" {{action "editTransaction"}}></i></li>
      <li><i class="fa fa-trash-o" {{action "deleteTransaction"}}></i></li>
    {{/if}}
    <li class="text-uppercase">{{moment-from-now transaction.createdAt interval=1000}}</li>
  </div>
</div>

{{#if isEditingTransaction}}
  {{transaction-edit
    transaction=transaction
    closeAction="closeTransactionEdit"
    transactionUpdated="transactionUpdated"
  }}
{{/if}}
