<i class="fa fa-times close" {{action "close"}}></i>

<div class="transaction-input-item transaction-paid">
  <span class="label">Who Paid:</span>
  <div class="transaction-paid-select">
  {{ember-selectize
    content=groupMemberUsersSelectize
    optionValuePath="content.id"
    optionLabelPath="content.name"
    selection=sender
    placeholder="Who paid?"
  }}
  </div>
</div>
<div class="transaction-input-item transaction-amount">
  <span class="label">Amount:</span>
  {{currency-input
    amount=amount
  }}
</div>
<div class="transaction-input-item transaction-split-type">
  <span class="label">Type:</span><button type="button" class="btn btn--small" {{action "updateSplitType"}}>{{splitType}}</button>
</div>

<div class="group-transaction-members">
  <ul>
    {{#each group.groupMembers as |member|}}
      {{group-transaction-create-member
        member=member
        splitType=splitType
        shareSplitAmounts=shareSplitAmounts
        normalSplitAmounts=normalSplitAmounts
        updateShareSplitsPerMember="updateShareSplitsPerMember"
        updateAmountPerMember="updateAmountPerMember"
        toggleMemberDisabled="toggleMemberDisabled"
      }}
    {{/each}}
  </ul>
</div>

{{textarea type="text" value=memo maxlength="140" placeholder="Memo..." rows="2"}}

<button class="btn btn--primary" {{action "transactionCreate"}}>Create</button>
