<div class="transaction-card-content">
  <div class="primary-line">
    <span class="name">{{#each groupTransaction.senders as |sender|}}{{sender.name}}{{/each}}</span>
    <span class="type">paid</span>
    <span class="amount">{{format-currency groupTransaction.amount}}</span>
  </div>

  <div class="memo">{{groupTransaction.memo}}</div>

  <ul class="transaction-recipients">
    {{#each groupTransaction.recipients as |recipient index|}}
      {{group-transaction-card-recipient
        index=index
        recipient=recipient
        groupTransaction=groupTransaction}}
    {{/each}}
  </ul>

  <div class="sub-line">
    {{#if isCreatorCurrentUser}}
      <li><i class="fa fa-trash-o" {{action "deleteGroupTransaction"}}></i></li>
    {{/if}}
    <li class="transaction-date text-uppercase">
      <span class="date-relative">{{moment-from-now groupTransaction.createdAt interval=1000}}</span>
      <span class="date-specific">{{moment-format groupTransaction.createdAt 'MMM Do, YYYY'}}</span>
    </li>
  </div>
</div>
