<div class="bar-content">
  <h3 class="side-headers">Friends</h3>
  <ul>
    {{#each friendships as |friendship|}}
      <li>{{friendship-card friendship=friendship}}</li>
    {{else}}
      <h4 class="status-text text-uppercase">No Friends Found</h4>
    {{/each}}
  </ul>
</div>

<div class="fixed-bottom">
  {{#if isCreatingGroup}}
    {{group-create cancelCreateAction="toggleCreatingGroup"}}
  {{else}}
    <button type="button" class="btn" disabled {{action "toggleCreatingGroup"}}>Create Group</button>
  {{/if}}
</div>

{{#if isToggleable}}
<div class="toggle-handle" {{action "toggleSidebar"}}>
  {{#if isClosed}}
    <i class="fa fa-arrow-right"></i>
  {{else}}
    <i class="fa fa-arrow-left"></i>
  {{/if}}
</div>
{{/if}}
