<h3 class="side-headers">Your Groups</h3>

<ul>
  {{#each groups as |group|}}
    <li>{{group-card group=group}}</li>
  {{else}}
    <h4 class="status-text text-uppercase">No Groups Found</h4>
  {{/each}}
</ul>

<div class="fixed-bottom">
  {{#if isCreatingGroup}}
    {{group-create cancelCreateAction="toggleCreatingGroup"}}
  {{else}}
    <button type="button" class="btn" {{action "toggleCreatingGroup"}}>Create Group</button>
  {{/if}}
</div>
