<div class="content-container">
  <div class="img--circle avatar" style="background-image: url('{{user.avatarUrl}}')"></div>
  <div class="content">
    <div class="primary">
      <div class="name">{{user.name}}</div>
      <div class="user-balance {{balanceStatus}}">{{displayBalance}}</div>
    </div>
    <div class="sub">
      <button class="btn btn--primary" {{action "addTransaction"}}>Add Transaction</button>
      <button class="btn btn" {{action "toggleShowTransactions"}}>
        {{#if isShowTransactions}}
          Hide Transactions
        {{else}}
          Show Transactions
        {{/if}}
      </button>
    </div>
  </div>
</div>
{{#if isCreatingTransaction}}
  {{transaction-create
    group=group
    user=user
    closeAction="closeTransactionCreateAction"
  }}
{{/if}}

{{#if isShowTransactions}}
  <div class="transaction-list fade-in">
    {{#each userTransactions as |transaction|}}
      {{transaction-card
        transaction=transaction
        transactionUpdated="transactionUpdated"
      }}
    {{else}}
      <h5 class="status-text center-align">You currently have no transactions with {{user.name}}</h5>
    {{/each}}
  </div>
{{/if}}
