<div class="content-container">
  <div class="img--circle avatar" style="background-image: url('{{user.avatarUrl}}')"></div>
  <div class="content">
    <div class="primary">
      <div class="name">{{user.name}}</div>
      <div class="user-balance {{balanceStatus}}">{{displayBalance}}</div>
    </div>
    <div class="sub">
      <button class="btn btn--primary" {{action "addTransaction"}}>Add Transaction</button>
      <button class="btn" {{action "toggleShowTransactions"}}>
        {{#if isShowTransactions}}
          Hide Transactions
        {{else}}
          Show Transactions
        {{/if}}
      </button>
    </div>
  </div>
</div>
{{#if isCreatingTransaction}}
  {{transaction-create
    relatedObjectId=group.id
    relatedObjectType="Group"
    relatedUser=user
    closeAction="closeTransactionCreateAction"
  }}
{{/if}}

{{#if isShowTransactions}}
  {{transaction-list
    user=user
    transactions=userTransactions
    transactionUpdated="transactionUpdated"
  }}
{{/if}}
