<div {{action "toggleMemberDisable"}}>{{member.user.name}}</div>

{{#if isSplitTypeShare}}
  {{tbbr-input
    type="number"
    class="input-amount"
    value=memberShares
    placeholder="1"
    min="1"
    max="20"
    onInput="memberSharesUpdate"
  }}
  {{calculatedAmount}}
{{else}}
  {{currency-input amount=normalAmount}}
{{/if}}
