{{#unless isPayback}}
<div class="transaction-paid">
  {{ember-selectize
    content=usersInvolved
    optionValuePath="content.id"
    optionLabelPath="content.name"
    selection=sender
    placeholder="Who paid?"
  }}
</div>
{{/unless}}
<div class="transaction-content">
  {{#unless isPayback}}
    {{currency-input
      amount=amount
    }}
  {{/unless}}
  {{textarea type="text" value=memo maxlength="140" placeholder="Memo..." rows="1"}}
  <button class="btn" {{action "transactionCreate"}}>Create</button>
  <i class="fa fa-times close" {{action "close"}}></i>
</div>

<h4 class="center-align">{{preview}}</h4>
