<div class="transaction-content">
  <div class="transaction-type">
    <span class="{{if isCharge "active"}}" {{action "changeType" "Charge"}}>Charge</span>
    <span class="{{if isPay "active"}}" {{action "changeType" "Pay"}}>Pay</span>
  </div>
  <div class="currency-input-group">
    {{input type="number" value=dollars maxlength="5" placeholder="00"}}
    <span>.</span>
    {{input type="text" value=cents maxlength="2" placeholder="00"}}
  </div>
  {{textarea type="text" value=comment maxlength="140" placeholder="Comments..." rows="1"}}
  <button class="btn" {{action "transactionCreate"}}>Create</button>
</div>
