<div class="transaction-content">
  <div class="transaction-type">
    <span class="{{if isBorrow "active"}}" {{action "changeType" "Borrow"}}>Borrow</span>
    <span class="{{if isLend "active"}}" {{action "changeType" "Lend"}}>Lend</span>
  </div>
  <div class="currency-input-group">
    {{input type="number" class="input-dollar" value=dollars placeholder="00" key-up="checkDollars"}}
    <span>.</span>
    {{input type="number" class="input-cent" value=cents placeholder="00" key-up="checkCents"}}
  </div>
  {{textarea type="text" value=memo maxlength="140" placeholder="Memo..." rows="1"}}
  <button class="btn" {{action "transactionCreate"}}>Create</button>
  <span class="close" {{action "close"}}>X</span>
</div>
