<div class="content">
  <div class="member-main">
    <div class="img--circle group-img" style="background-image: url('{{member.user.avatarUrl}}')"></div>
    <div class="member-content">
      <div class="name">
        {{member.user.name}}
      </div>
      <div class="user-balance">
        <span class="label">Paid:</span>{{format-currency member.amountSent}}, <span class="label">Spent:</span>{{format-currency member.amountReceived}}
      </div>
    </div>
  </div>
  <div class="member-amount">
    {{#if isCurrentUser}}
      {{#if memberTotalAmount}}
        <span class="label">{{curAmountText}}:</span>{{format-currency memberTotalAmount}}
      {{/if}}
    {{else}}
      {{#if myTransactionAmount}}
        <span class="label">{{amountText}}:</span>{{format-currency myTransactionAmount}}
      {{/if}}
    {{/if}}
  </div>
</div>
